h1 {
  font-family: Garamond;
  font-size: 24px;
  color: blue;
}

body{
  margin: 0;
}

.title>p {
  font-family: Proxima Nova;
  font-size: 42px;
  text-align: justify;
  color: white;
  font-weight: lighter;
  margin: 0;
}

.hero {
  background-color: black;
  width:100%;
  margin: 0 auto;
  display: block;
  margin-top: 13em;
  height: 275px;
  padding-top: 75px;
}

.title {
  height: 175px;
  width: 175px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border: 1px solid white;
  padding-left: 30px;
  padding-top: 22px;
}

#iefo {
  letter-spacing: 4.5px;
}

#kene {
  letter-spacing: 1.75px;
}
